@font-face { font-family: Caviar Dreams; src: url('CaviarDreams.ttf'); } 
@font-face { font-family: Caviar Dreams; font-weight: bold; src: url('Caviar_Dreams_Bold.ttf');}
*{
    margin: 0%;
    padding: 0%;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-color:#fff234;
    padding-top: 25px !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
}
.navbar-nav li{
    padding: 0 10px;
    
}
.navbar-nav li a{
    color: #000000 !important;
    float: right;
    text-align: left;
  
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
/*--------------------bannner------------------------*/
#banner
{
    background-color: #fff234;
    padding-top:10%;
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.app-text{
    font-family: Caviar Dreams;
}
.app-text h3{
    font-size:60px;

}
.app-text h1{
    font-size:120px;
    font-weight: bold;
}
.app-subtext{
    font-family: Caviar Dreams;
    padding-top: 25%;
}
.app-subtext h3{
    font-size: 35px;
    position: relative;
    font-weight: bold;
}

.app-subtext h5{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    
}

.app-subtext p{
    font-size: 20px;
    
    position: relative;
    
}
.app-subtext a{
    font-size: 20px;
    color: #D65A31;
    font-weight: bold;
}

.about-me-text{
    font-size: 20px;
    text-align: justify;
    position: relative;
}
.footer{
    background-color: #343537;
    padding-left: 10% ;
    
}
.footer h2{
    padding-top:20px ;
    color: #D65A31;
    font-size: 20px ;
    font-weight: bold;
}

.footer p{
    color: #fff;
}
.footer a{
    color: #D65A31;
    font-weight: bold;
    
}
.fa-arrow-right{
    color:#D65A31 ;
}
.r-text{
    color:#707070 !important;
}
.footer{

    padding-top: 15px;
    padding-bottom: 15px;   
}
#work{
    background-color: #fff234;
}
.cover-pic{
    padding-left: 20% !important;
    padding: 40px;
}
.head-text{
    background-color: turquoises;
}
.pd-l{
    padding-left: 15%;
    padding-top:150px;
    margin-bottom:100px;
}
img{
    width: 500px;
    height:350px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
img:hover, img:focus, img:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.title-text{
    
    padding-top: 50px;
}