@font-face { font-family: Caviar Dreams; src: url('CaviarDreams.ttf'); } 
@font-face { font-family: Caviar Dreams; font-weight: bold; src: url('Caviar_Dreams_Bold.ttf');}
*{
    margin: 0%;
    padding: 0%;
    
}
p{
    font-family: 'Open Sans', sans-serif;
}
#latest{
    padding-top: 2%;
    background-color:#F2F2F2;
    text-align: center;
}

#nav-bar{
    
    /*position: sticky;*/
    top: 0;
    z-index: 10;
}
hr { 
    position: relative; 
    height: 5px!important; 
    background: grey; 
             
}
.navbar
{
    
    padding-top: 25px !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
}
.navbar-nav li{
    padding: 0 10px;
    
}
.navbar-nav li a{
    color: #000000 !important;
    float: right;
    text-align: left;
  
}
.light li a{
    color:white !important;
    float: right;
    text-align: left;
  
}
.fa-bars{
    color: orangered;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
.nav-link::after{
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background:orangered;
    transition: width .3s;
}
.nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}
/*--------------------bannner------------------------*/
#banner
{
    
    padding-top:5%;
    padding-right: 8%;
    padding-left: 8%;
}

.app-text{
    font-family: Caviar Dreams;
}
.app-text h3{
    padding-left: 5%;
    font-size:60px;
    color: black;

}
.app-text h1{
    font-size:120px;
    font-weight: bold;
}
.app-subtext{
    font-family: Caviar Dreams;
    padding-top: 25%;
}
.app-subtext h3{
    font-size: 26px;
    position: relative;
    font-weight: bold;
    color: black;
}

.app-subtext h5{
    font-size: 22px;
    color: #D65A31;
    font-weight: bold;
    position: relative;
    
}

.app-subtext p{
    font-size: 18px;
    
    position: relative;
    
}
.app-subtext a{
    font-size: 20px;
    color: #D65A31;
    font-weight: bold;
}
.app-subtext a:hover{
    font-size: 20px;
    color: #D65A31;
    font-weight: bold;
    
}
.float-arrow{
    text-align: center;
}
/*----------------------------Footer CSS -----------------------------------------*/
.footer i{
font-size: xx-large;
color: white;
}

.fa-arrow-right{
    color:#D65A31 ;
}
.r-text{
    color:#707070 !important;
}

.pic{
    height: 50%;
    width:100%
}
.sub-head{
    margin-left: 20%;
    margin-right: 20%;
    
}

/*Work Section */

#work{
    
    padding-top: 5%;
    padding-bottom: 5%;
}
.cover-pic{
    text-align: center;
    padding:5% 5% 0 5%;
}
.head-text{
    background-color: turquoises;
}
.pd-l{
    text-align:center;
    padding-bottom:50px;
}

.projects img{
    
    width: 500px;
    height:350px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.col-lg-4{
    padding-bottom: 10%;
}
.imgbox{
    
    width: 300px;
    height:400px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.imgbox:hover,.imgbox:focus,.imgbox:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.imgbox a{
    color: black;
}
.imgbox a:hover{
    color: black;
    text-decoration: none; 
    
}
.cs a{
    color: black;
}
.cs a:hover{
    color: black;
    text-decoration: none; 
    
}
.pic img{
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 200px;
}
.projects img:hover,.project img:focus,.project img:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.lg a{
    color:black!important;
}
.lg a:hover{
    color: black;
}











.title-text{
    
    text-align: center;
    padding-top:10%
           
}
.title-text h5{
    font-size: 22px;
    color: #D65A31;
    
    position: relative;
}

/*----------------------------ABOUT PAGE CSS-------------------------- */
.about-me-text{
    font-size: 20px;
    text-align: justify;
    position: relative;
    margin-bottom: 100px;
}
.my-img{
    text-align: center;
    width: 350px;
    

}
.fa-angle-down{
    text-align: center;
}
.book{
    padding-top: 10px;
    
    height: 200px;
}
#books{
    background-color: F3EFF5;
    padding-left: 10%;
    padding-right: 10%
}
.col-md-2 h5{
    padding-top: 10px;
}
/*---------------------- Contets----------------------------------- */
#content{
    padding-left: 25%;
    padding-right: 25%;
}
#contents{
    padding-left: 10%;
    padding-right: 10%;
}
p{
    text-align: justify;
}
.header img{
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}


.header h2,h4{
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    
}
.header h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: regular;
}
.list{
    padding-left: 50px;
}
.imgtext{
    font-size: small;
    color: gray;
    text-align: center;
    padding-bottom: 3%;
}
.navnext{
    text-align: right;
    padding-top: 10%;
    padding-bottom: 10%;
}
.col-md-2 h6{
    text-align: bottom;
}
.mag img{
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

button{
    text-align: center;
}


.comingsoon{
  
  background-color:black;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  border-radius: 10px;
}
.content{
    height:33%;
}
#half-bg{
    background: linear-gradient(
        to bottom, 
        #6560AA 0%, 
        #6560AA 90%, 
    #ffffff 90%, 
    #ffffff 100%
    );
}
#half-bg2{
    background: linear-gradient(
        to bottom, 
        #FFC600 0%, 
        #FFC600 90%, 
    #ffffff 90%, 
    #ffffff 100%
    );
}

.ban p,h3{
    text-align: justify;
    color: white;

}
.ban h6{
    text-align: justify;
    color: white;

}
.ban h2{
    
    color: white;
    font-weight: 300;
    font-size: 45;

}

.app-text i{
    color: black;
}
.app-text i:hover{
    color:#D65A31;
}

.footer i:hover{
    color: #D65A31;

}
.overview{
    background-color: aqua;
    padding:  5% 10% 5% 10%;
    }
